$teal: #43AEA8;
$pink: #EF4056;
$medium: #CCCCCC;
$light: #F4F4F6;
$dark: #313131;

* {
	box-sizing: border-box;
	font-family: "Open Sans", "Lato", Helvetica Neue, Arial, sans-serif;
	color: $dark;
	background-color: $light;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

a {
	color: $pink;
}

/* accents */

.accent-text {
	color: $teal;
}

.accent-div {
	background-color: $teal;
}

.accent-outline {
	border-top: $teal solid 2px;
}

/* structual elements */

header {
	padding: 10px 20px;
}

.crowd {
	width: 100%;
	.crowd-header {
		padding: 10px 20px;
		* {
			display: inline;
			@media screen and (max-width: 400px) {
				display: block;
			}
		}
		h2 {
			margin-right: 30px;
		}
		p {
			margin: 5px 10px;
		}
	}
	.crowd-list {
		.article {
			padding: 20px;
			border-top: $medium 1px solid;
			* {
				display: inline;
			}
			.sharer {
				color: $medium;
				margin-left: 5px;
			}
		}
	}
}